<div class="hero-unit">
  <h1>Bloccit</h1>
  <p>Bloccit is a demo app for getting acquainted with Ruby on Rails</p>
  <p>
      <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary btn-large' %> or 
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary btn-large' %> today!
  </p>
</div>

<div text-align="left">
  <h2>Technologies Employed Here:</h2>
</div>

<div class="row">
  <div class="span4">
    <h2>Ruby on Rails</h2>
    <p>Devise/Oauth. Postgres.  </p>
  </div>
  <div class="span4">
    <h2>Twitter Bootstrap</h2>
    <p>Pagination.</p>
  </div>
  <div class="span4">
    <h2>Development Tools</h2>
    <p>Heroku. Git. New Relic.</p>
  </div>
</div>